
.header{
  display: flex;
  justify-content : space-between;
  border: 1px solid black;
}
.Logo{
  paddign: 15px;
  margin: 15px;
  width: 40px;
  height: 40px;
}
.nav_items > ul {
  padding-right: 10px;
  display: flex;
  list-style-type: none;
}
.nav_items > ul > li {
  font-size: 20px;
  paddign: 10px;
  margin:  10px;
}

.footer{
  margin-top: 30px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  background-color: black;
  margin-bottom: 0px;
}
.footer > ul{
  list-style-type: none;
}

.search{
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 15px;
  positon: absolute;
  align-items: center;

}
.res-card{
  margin: 5px;
  padding: 10 0 0 10;
  width: 190px;
  background-color: #f0f0f0;
}
.res-card:hover {
  cursor: pointer;
  border: 2px solid gray;
}
.res-card > h3 {
  margin: 0px;
}
.cart_image{
  width: 180px;
  height: 100px;
}
.Cart{
  padding-left: 65px;
  display: flex;
  flex-wrap: wrap;
}
.shot_head{
  justify-content: center;
  display: flex;
}

.searchButton, .filter-btn, .All_rest {
margin: 30px;
border: none;
background-color: white;
text-color: #f0f0f0;
}
.LuSearch{
  background-color: white;
  border: none;
}

.shimmer_Container{
  padding-left: 65px;
  display: flex;
  flex-wrap: wrap;
}

.shimmer-cards{
  margin: 5px;
  padding: 10 0 0 10;
  width: 190px;
  height: 300px;
  background-color: #f0f0f0;
}

.login{
  paddign:  0 20px;
  cursor: pointer;
}

.menuImg{
  width: 200px;
  height: 120px; 
}