
.header{
  display: flex;
  justify-content : space-between;
  border: 1px solid black;
}
.Logo{
  paddign: 15px;
  margin: 15px;
  width: 40px;
  height: 40px;
}
.nav_items > ul {
  padding-right: 10px;
  display: flex;
  list-style-type: none;
}
.nav_items > ul > li {
  font-size: 20px;
  paddign: 10px;
  margin:  10px;
}

.footer{
  margin-top: 30px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  background-color: black;
  margin-bottom: 0px;
}
.footer > ul{
  list-style-type: none;
}

.search{
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 15px;
  positon: absolute;
  align-items: center;

}
.res-card{
  margin: 5px;
  padding: 10 0 0 10;
  width: 190px;
  background-color: #f0f0f0;
}
.res-card:hover {
  cursor: pointer;
  border: 2px solid gray;
}
.res-card > h3 {
  margin: 0px;
}
.cart_image{
  width: 180px;
  height: 100px;
}
.Cart{
  padding-left: 65px;
  display: flex;
  flex-wrap: wrap;
}

.filter-button{
  margin: 10px;
}